@use 'media' as *;
@use 'tokens' as *;

@mixin interactive-state {
  &:active {
    @content;
  }

  @include supports-hover {
    &:hover {
      @content;
    }
  }
}

@mixin focus-ring {
  outline: $focus-ring;
  outline-offset: $focus-ring-offset;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
