@use '../abstracts' as *;

.pwd-gen {
  // 16px @ 375px to 114px @ 768px (From Figma)
  padding-inline: clamp($space-200, -4.844rem + 24.936vw, 7.125rem);

  @include from-tablet {
    // 114px @ 768px to 450px @ 1440px (From Figma)
    padding-inline: clamp(7.125rem, -16.875rem + 50vw, 28.125rem);
  }

  &__title {
    @include text-preset(4);
    color: $color-grey-600;
    width: fit-content;
    margin-inline: auto;
    margin-block: 4.0625rem $space-200; // match Figma;

    @include from-tablet {
      @include text-preset(2);
      margin-block: 8.3125rem $space-400; // match Figma;
    }
  }

  &__options {
    background: $color-grey-800;
    padding: $space-200;
    margin-top: $space-200;

    @include from-tablet {
      padding-block: $space-300 2.5625rem; // match Figma;
      padding-inline: $space-400;
      margin-top: $space-300;
    }
  }

  &__char-options {
    display: flex;
    flex-direction: column;
    gap: $space-200;
    margin-block: $space-400;
  }
}
