@use '../abstracts' as *;

.pwd-gen {
  padding-inline: $space-200;

  &__title {
    @include text-preset(4);
    color: $color-grey-600;
    width: fit-content;
    margin-inline: auto;
    margin-block: 4.0625rem $space-200; // match Figma;

    @include from-tablet {
      @include text-preset(2);
      margin-bottom: 8.3125rem $space-400; // match Figma;
    }
  }

  &__options {
    background: $color-grey-800;
    padding: $space-200;
    margin-top: $space-200;
  }

  &__char-options {
    display: flex;
    flex-direction: column;
    gap: $space-200;
    margin-block: $space-400;
  }
}
