@use '@/styles/abstracts/' as *;

$padding-inline: $space-200; // match Figma
$padding-inline-tablet: $space-400; // match Figma

$padding-block: $space-200; // match Figma
$padding-block-tablet: 1.1875rem; // match Figma
