@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

fieldset {
  all: unset;
  display: block;
}

input[type='range'] {
  touch-action: pan-y;
  user-select: none;
  -webkit-user-select: none;
}

body {
  @include text-preset(1);
  color: $color-grey-200;
  background: $color-gradient-1;
}

// Screen Reader Only - for the elements that should be hidden visually but available to assistive technology
.sr-only {
  @include sr-only;
}
